<p-confirmDialog></p-confirmDialog>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<form [formGroup]="saleForm" (submit)="submit()" class="flex flex-col gap-4">
    <!-- Sale Detail Entry Form -->
    <div class="space-y-4">

        <!-- Section -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-12 gap-4">
            <!-- Stock Item Dropdown -->
            <div class="lg:col-span-2 sm:col-span-1 flex flex-col gap-2">
                <label>Stock Item <span class="text-red-500">*</span></label>
                <app-item-code-dropdown [(ngModel)]="selectedStockItem" [ngModelOptions]="{ standalone: true }"
                    (onValueChange)="onStockItemChange(selectedStockItem)" ngDefaultControl [style]="{ width: '100%' }"
                    required>
                </app-item-code-dropdown>
            </div>

            <div class="lg:col-span-2 sm:col-span-1 flex flex-col sm:flex-row gap-4">
                <!-- Packet Type Dropdown -->
                <div class="flex flex-col gap-2 flex-1 sm:w-2/3">
                    <label>Packet Type <span class="text-red-500">*</span></label>
                    <app-packet-type-dropdown [(ngModel)]="selectedPacketType" [ngModelOptions]="{standalone: true}"
                        (onValueChange)="onPacketTypeChange(selectedPacketType)" [disabled]="isDisabled"
                        ngDefaultControl></app-packet-type-dropdown>
                </div>
                <!-- Capacity Display -->
                <div class="flex flex-col gap-2 flex-1 sm:w-1/3">
                    <label>Capacity</label>
                    <input pInputText [value]="capacity" [disabled]="true" class="bg-gray-100 w-full" />
                </div>
            </div>

            <!-- Price Input -->
            <div class="lg:col-span-1 sm:col-span-1 flex flex-col gap-2">
                <label>Price</label>
                <input formControlName="price" pInputText type="number" min="0" (input)="calcuateTotalAmount()"
                    (keypress)="preventNegativeInput($event)" class="w-full" />
            </div>

            <!-- Quantity Input -->
            <div class="lg:col-span-1 sm:col-span-1 flex flex-col gap-2">
                <label>Quantity</label>
                <input formControlName="qty" pInputText type="number" min="0" (input)="calcuateTotalAmount()"
                    (keypress)="preventNegativeInput($event)" class="w-full" />
            </div>

            <!-- Total Display  -->
            <div class="lg:col-span-1 sm:col-span-1 flex flex-col gap-2">
                <label>Total</label>
                <input [value]="saleForm.get('totalQty')?.value | number:'1.0-0'" pInputText type="text" min="0"
                    readonly class="w-full" />
            </div>

            <!-- Action Buttons  -->
            <div class="lg:col-span-1 sm:col-span-1">
                <div class="mt-7">
                    <p-button icon="pi pi-plus" label="Add" type="button" severity="info" (click)="addItemToCookie()"
                        [style]="{width:'100%'}">
                    </p-button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content Area -->
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-4 lg:gap-6">
        <!-- Items Table -->
        <div class="col-span-1 lg:col-span-8 xl:col-span-9">

            <p-table #dt1 [value]="saleDetails" [(selection)]="selectedRow" selectionMode="single" dataKey="itemCode"
                [rows]="10" [paginator]="true" [showGridlines]="false" [loading]="loading"
                [tableStyle]="{ 'min-width': '100%' }" class="p-datatable-sm rounded-lg">
                <ng-template pTemplate="header">
                    <tr class="bg-gray-100 text-gray-700 text-sm" style="white-space: nowrap">
                        <th pSortableColumn="saleVno">Code <p-sortIcon field="itemCode"></p-sortIcon></th>
                        <th pSortableColumn="itemName">Item Name <p-sortIcon field="itemName"></p-sortIcon></th>
                        <th pSortableColumn="typeName">Packet <p-sortIcon field="typeName"></p-sortIcon></th>
                        <th pSortableColumn="capacity">Capacity <p-sortIcon field="capacity"></p-sortIcon></th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="salePrice">Sale <p-sortIcon field="salePrice"></p-sortIcon></th>
                        <th pSortableColumn="qty">Qty <p-sortIcon field="qty"></p-sortIcon></th>
                        <th class="delete-cell">
                            <p-button icon="pi pi-trash" class="rounded" severity="danger" (click)="confirm($event)"
                                [disabled]="!hasAnyItems()">
                            </p-button>
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item>
                    <tr class="text-sm hover:bg-gray-50 transition" [pSelectableRow]="item">
                        <td>{{ item.itemCode }}</td>
                        <td>{{ item.itemName }}</td>
                        <td>{{ item.typeName }}</td>
                        <td>{{ item.capacity }}</td>
                        <td>{{ item.price | number }}</td>
                        <td>{{ item.qty }}</td>
                        <td class="text-center">
                            <p-button icon="pi pi-trash" class="rounded" severity="danger" (click)="removeItem(item)">
                            </p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Summary Sidebar -->
        <div class="col-span-1 lg:col-span-4 xl:col-span-3">
            <div class="border rounded-lg flex flex-col gap-4 p-4">
                <!-- Voucher Info -->
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label>Manual Voucher No</label>
                        <input formControlName="manualVno" pInputText placeholder="Enter Manual Voucher No" required
                            [ngClass]="{ 'ng-invalid ng-dirty': saleForm.controls['manualVno'].invalid && (saleForm.controls['manualVno'].touched || saleForm.controls['manualVno'].dirty) }" />
                        <small
                            *ngIf="saleForm.controls['manualVno'].invalid && (saleForm.get('manualVno')?.touched || saleForm.get('manualVno')?.dirty)"
                            class="text-red-500 text-xs">
                            <i class="pi pi-exclamation-circle mr-1"></i>
                            Manual Voucher No is required.
                        </small>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label>Sale Date</label>
                        <p-date-picker formControlName="saleDate" [showIcon]="true" [style]="{ width: '100%' }"
                            dateFormat="dd/M/yy" inputId="saleDate">
                        </p-date-picker>
                    </div>

                    <!-- Patient -->
                    <div class="flex flex-col gap-2">
                        <label>Patient</label>
                        <p-select [options]="patients" [(ngModel)]="selectedPatient" (onChange)="onPatientChange()"
                            optionLabel="patientName" dataKey="patientId" placeholder="Select Patient" [filter]="true"
                            [showClear]="true" [ngModelOptions]="{ standalone: true }"
                            [ngClass]="{ 'ng-dirty ng-invalid': saleForm.controls['patientId'].invalid && saleForm.get('patientId')?.touched }">
                        </p-select>
                        <small
                            *ngIf="saleForm.controls['patientId'].invalid && (saleForm.get('patientId')?.touched || saleForm.get('patientId')?.dirty)"
                            class="text-red-500 text-xs">
                            <i class="pi pi-exclamation-circle mr-1"></i>
                            Patient is required.
                        </small>
                    </div>
                </div>

                <!-- Payment Type -->
                <div class="flex flex-col gap-2">
                    <label>Payment Type</label>
                    <p-select formControlName="paymentType" [options]="paymentTypes" [showClear]="true" optionLabel="label"
                        placeholder="Select Payment Type"
                        [ngClass]="{ 'ng-invalid ng-dirty': saleForm.controls['paymentType'].invalid && saleForm.controls['paymentType'].touched }">
                    </p-select>
                    <small
                        *ngIf="saleForm.controls['paymentType'].invalid && (saleForm.controls['paymentType'].touched || saleForm.controls['paymentType'].dirty)"
                        class="text-red-500 text-xs">
                        <i class="pi pi-exclamation-circle mr-1"></i>
                        Payment Type is required.
                    </small>
                </div>

                <!-- Amount Summary -->
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex flex-col gap-2">
                        <label>Total Amount</label>
                        <input [value]="saleForm.get('totalAmount')?.value | number:'1.0-0'" pInputText type="text"
                            readonly class="text-right" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label>Discount</label>
                        <input formControlName="discountAmount" pInputText type="number" min="0"
                            (input)="updateAmounts()" (keypress)="preventNegativeInput($event)"
                            (keydown.enter)="$event.preventDefault()" class="text-right" />
                        <small *ngIf="discountExceedsTotal" class="text-red-500 text-xs mt-1">
                            Discount cannot exceed total amount.
                        </small>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label>Net Amount</label>
                        <input [value]="saleForm.get('netAmount')?.value | number:'1.0-0'" pInputText type="text"
                            readonly class="text-right" />
                    </div>

                </div>

                <!-- Footer Actions -->
                <div class="flex flex-wrap gap-2 pt-2 mt-2 w-full">
                    <p-button icon="pi pi-check" label="Save" severity="success" [loading]="isSubmitting"
                        [style]="{width:'100%'}" (click)="submit()"></p-button>
                    <p-button icon="pi pi-trash" label="Clear" severity="secondary" [style]="{width:'100%'}"
                        (click)="clearAll()"></p-button>
                </div>
            </div>

        </div>
    </div>
</form>

<p-toast></p-toast>