<div class="flex items-center justify-center min-h-screen ">
  <div class="flex flex-col items-center justify-center w-full max-w-md">
    <div class="w-full py-10 px-8 sm:px-10 rounded-2xl borde shadow-xl">
      <div class="text-center mb-8">
        <div class="text-2xl font-semibold mb-2 tracking-tight">Welcome, Family Clinics!</div>
        <span class="text-gray-500 font-normal text-base">Sign in to continue</span>
      </div>
      <div>
        <label for="username1" class="block text-base font-medium mb-1">Username</label>
        <input id="username1" pInputText type="text" [(ngModel)]="username" placeholder="Enter username"
          class="w-full mb-6 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00B6C7] transition">

        <label for="password1" class="block font-medium text-base mb-1">Password</label>
        <p-password id="password1" [(ngModel)]="password" placeholder="Enter password" [style]="{width:'100%'}"
          [toggleMask]="true" styleClass="mb-6"
          inputStyleClass="w-full p-3 border border-slate-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#00B6C7] transition"></p-password>
        <div class="flex items-center justify-between mb-6">
          <div class="flex items-center">
            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2" [(ngModel)]="isRemberMeChecked"></p-checkbox>
            <label for="rememberme1" class="text-sm text-[#00B6C7] font-medium cursor-pointer">Remember me</label>
          </div>
          <a class="text-sm font-medium text-[#00B6C7] hover:underline cursor-pointer transition">Forgot password?</a>
        </div>
        <div *ngIf="!isLoading">
          <p-button pRipple (click)="login()" label="Sign In"
            styleClass="w-full p-3 bg-[#00B6C7] border-0 text-white rounded-lg font-semibold text-base hover:bg-[#0096a7] transition"></p-button>
        </div>
        <div *ngIf="isLoading">
          <p-button pRipple [disabled]="true"
            styleClass="w-full p-3 bg-[#00B6C7] border-0 text-white rounded-lg font-semibold text-base">
            <i class="pi pi-spin pi-spinner mr-2" style="font-size: 1.2rem"></i> Please wait
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>