:root[class*="app-dark"] {
  --surface-ground: var(--p-surface-950);
  --code-background: var(--p-surface-800);
  --code-color: var(--p-surface-100);

  // --surface-ground: #212830;
  // --surface-card: none;
  // --surface-border: var(--p-gray-600);
  // --code-background: var(--p-surface-800);
  // --code-color: var(--p-surface-100);
  // --scroll-bar-color: var(--p-surface-400);
  // --scroll-bg-color: var(--p-surface-700);
  --gradient-start: var(--p-surface-950);
  --gradient-middle: var(--p-surface-900);
  --gradient-end: var(--p-surface-950);
  // --p-breadcrumb-background: transparent;
  // --p-breadcrumb-item-color: var(--p-surface-100);
  // --p-breadcrumb-item-icon-color: var(--p-surface-100);

  // // input
  // --p-form-field-background: var(--p-surface-800);

  // // table
  // --p-mask-background: rgba(0, 0, 0, 0.4);
  // --p-datatable-header-cell-background: none;
  // --p-datatable-row-background: none;
  // --p-paginator-background: none;

  // --p-paginator-current-page-report-color: var(--p-surface-100);
  // --p-datatable-header-cell-border-color: var(--p-surface-600);
  // --p-datatable-body-cell-border-color: var(--p-surface-600);

  // --p-datatable-header-padding: 0rem 0rem !important;
  // --p-datatable-header-background: none;

  // --p-content-hover-color: var(--p-surface-100);
}
