:root {
  --surface-ground: var(--p-surface-100);
  --code-background: var(--p-surface-900);
  --code-color: var(--p-surface-200);

  --gradient-start: #f2f0f4;
  --gradient-middle: #f5f5f5;
  --gradient-end: #e9f0f5;

  --content-border-radius: 10px;

  --p-datatable-header-padding: 0rem 0rem !important;

  // --surface-ground: var(--p-surface-100);
  // --surface-card: var(--p-surface-0);
  // --surface-border: var(--p-gray-0);
  // --code-background: var(--p-surface-900);
  // --code-color: var(--p-surface-200);
  // --scroll-bar-color: var(--p-surface-300);
  // --scroll-bg-color: var(--p-surface-200);
  // --gradient-start: #f2f0f4;
  // --gradient-middle: #f5f5f5;
  // --gradient-end: #e9f0f5;

  // --p-datatable-header-padding: 0rem 0rem !important;
}
