<!-- #region card -->
<div class="card">
    <!-- #region table -->
    <p-table #dt1 [value]="packetTypes" [paginator]="true" [rows]="20" sortField="createdOn" [sortOrder]="-1"
        [loading]="loading" styleClass="p-datatable-striped" [showCurrentPageReport]="true"
        [globalFilterFields]="['typeCode','typeName','capacity']" [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[20,50,100]" selectionMode="single" [(selection)]="selectedPacketType" dataKey="typeCode">

        <!-- #region caption -->
        <ng-template #caption>
            <div class="grid grid-cols-12 mb-4">
                <div class="md:col-span-6 sm:col-span-6 col-span-6 flex sm:mb-3">
                    <p-toast></p-toast>
                    <p-splitButton label="Create" icon="pi pi-plus" [model]="items"
                        (onClick)="create()"></p-splitButton>
                </div>
                <div class="md:col-span-6 sm:col-span-6 col-span-6 flex sm:mb-3">
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input #search pInputText type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                            placeholder=" Search keyword" [style]="{'width':'100%'}" />
                    </p-iconfield>
                </div>
            </div>
        </ng-template>
        <!-- #endregion -->

        <!-- #region header -->
        <ng-template #header>
            <tr class="whitespace-nowrap">
                <th pFrozenColumn [style]="{'width' : '10px'}">#</th>
                <th pSortableColumn="typeCode">Type Code
                    <p-sortIcon field="typeCode"></p-sortIcon>
                </th>
                <th pSortableColumn="typeName">Type Name
                    <p-sortIcon field="typeName"></p-sortIcon>
                </th>
                <th pSortableColumn="capacity">Capacity
                    <p-sortIcon field="capacity"></p-sortIcon>
                </th>
                <th pSortableColumn="status">Status
                    <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="createdOn">Created On
                    <p-sortIcon field="createdOn"></p-sortIcon>
                </th>
                <th pSortableColumn="createdBy">Created By
                    <p-sortIcon field="createdBy"></p-sortIcon>
                </th>
                <th pSortableColumn="updatedOn">Update On
                    <p-sortIcon field="updatedOn"></p-sortIcon>
                </th>
                <th pSortableColumn="updatedBy">Updated By
                    <p-sortIcon field="updatedBy"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <!-- #endregion -->

        <!-- #region body -->
        <ng-template #body let-packetType>
            <tr class="whitespace-nowrap" [pSelectableRow]="packetType">
                <td>
                    <span class="pi pi-circle" [class.pi-check-circle]="selectedPacketType === packetType"></span>
                </td>
                <td>{{ packetType.typeCode }}</td>
                <td>{{ packetType.typeName }}</td>
                <td>{{ packetType.capacity | number : '1.0-0' }}</td>
                <td>
                    <p-tag value="{{ packetType.status?'Active':'Inactive' }}"
                        [severity]="packetType.status?'success':'info'"
                        icon="{{ packetType.status?'pi pi-check':'pi pi-minus-circle' }}" [rounded]="true"></p-tag>
                </td>
                <td>{{ packetType.createdOn | date: 'dd/MMM/yyyy hh:mm:ss a' }}</td>
                <td>{{ packetType.createdBy }}</td>
                <td>{{ packetType.updatedOn | date: 'dd/MMM/yyyy hh:mm:ss a' }}</td>
                <td>{{ packetType.updatedBy }}</td>

            </tr>
        </ng-template>
        <!-- #endregion -->
    </p-table>
    <!-- #endregion -->
</div>
<!-- #endregion -->

<!-- #region dialog -->
<p-dialog header="{{isEdit? 'Edit Packet Type' : 'Create Packet Type'}}" [(visible)]="modalVisible" [breakpoints]="{
    '1920px': '30vw',
    '1440px': '30vw',
    '1024px': '30vw',
    '768px': '80vw',
    '425px': '100vw',
    '375px': '100vw',
    '320px': '100vw'}" [modal]="true" [style]="{ 'min-width': '30vw' }" [draggable]="false" [resizable]="false"
    (onHide)="clearSection()">

    <form [formGroup]="packetTypeForm" (submit)="submit()">
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <label>Type Name</label>
                <input formControlName="typeName" pInputText type="text" placeholder="Enter Type Name..." required />
                <small *ngIf="packetTypeForm.controls['typeName'].invalid && packetTypeForm.get('typeName')?.dirty"
                    class="p-text text-sm text-red-500">
                    Type Name is required.
                </small>
            </div>

            <div class="flex flex-col gap-2">
                <label class="font-medium">Capacity (Units per Packet)</label>
                <input formControlName="capacity" pInputText type="number" [min]="1"
                    (keydown)="preventNegativeInput($event)" placeholder="e.g. 10" />
                <small *ngIf="packetTypeForm.get('capacity')?.invalid && packetTypeForm.get('capacity')?.touched"
                    class="text-red-500">
                    Capacity must be at least 1.
                </small>
            </div>

            <div class="flex gap-2">
                <p-toggle-switch formControlName="status"></p-toggle-switch>
                <span class="text-md font-medium">Status</span>
            </div>
            <div class="flex flex-col mb-2 gap-2">
                <p-button icon="pi pi-check" label="{{ isEdit?'Update':'Save' }}" type="submit" [loading]="isSubmitting"
                    [severity]="isEdit?'info':'success'"></p-button>
            </div>
        </div>
    </form>
</p-dialog>
<!-- #endregion -->

<!-- #region confirmDialog -->
<p-confirmDialog [breakpoints]="{
    '1920px': '30vw',
    '1440px': '60vw',
    '1024px': '100vw',
    '768px': '100vw',
    '425px': '150vw',
    '375px': '100vw',
    '320px': '100vw'}" [style]="{ 'min-width': '30vw' }" key="packetTypeDeleteDialog" position="bottom"
    rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<!-- #endregion -->