<div class="flex flex-col">

    <form [formGroup]="patientForm" (submit)="submit()">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <!-- Name Field -->

            <div class="flex flex-col gap-2 col-span-1">

                <label class="font-semibold">Name</label>

                <input formControlName="name" pInputText
                    class="w-full border rounded px-3 py-2 focus:ring-2 focus:ring-blue-400"
                    placeholder="Enter Name..." />

                <small *ngIf="patientForm.controls['name'].invalid && patientForm.get('name')?.dirty"
                    class="text-red-500 text-xs"> Name is required. </small>

            </div>



            <!-- Date of Birth -->

            <div class="flex flex-col gap-2 col-span-1">

                <label class="font-semibold">Date of Birth</label>

                <p-date-picker formControlName="dob" [showIcon]="true" [dateFormat]="'yy-mm-dd'" [showTime]="false"
                    [style]="{ width: '100%' }" [maxDate]="maxDate"
                    [ngClass]="{'p-invalid': patientForm.get('dob')?.invalid && (patientForm.get('dob')?.touched || patientForm.get('dob')?.dirty)}">

                </p-date-picker>

                <small
                    *ngIf="patientForm.get('dob')?.invalid && (patientForm.get('dob')?.touched || patientForm.get('dob')?.dirty)"
                    class="text-red-500 text-xs">

                    Date of Birth is required.

                </small>

            </div>



            <!-- Age -->

            <div class="flex flex-col gap-2 col-span-1">

                <label class="font-semibold">Age</label>

                <input formControlName="age" placeholder="Age" pInputText
                    class="border rounded px-3 py-2 bg-gray-100 w-full" readonly />

            </div>



            <!-- Phone Number -->

            <div class="flex flex-col gap-2 col-span-1">

                <label class="font-semibold">Phone Number</label>

                <input formControlName="phone" pInputText placeholder="Enter Phone Number..." required inputmode="tel"
                    class="w-full border rounded px-3 py-2 focus:ring-2 focus:ring-blue-400" />

                <small *ngIf="patientForm.controls['phone'].invalid && patientForm.get('phone')?.dirty &&

                             patientForm.get('phone')?.untouched" class="p-text text-sm text-red-500"> Phone is

                    required </small>

                <small *ngIf="patientForm.controls['phone'].invalid && patientForm.get('phone')?.dirty &&

                              patientForm.get('phone')?.touched" class="p-text text-sm text-red-500"> Phone

                    Format is invalid </small>

            </div>



            <!-- State -->

            <div class="flex flex-col gap-2 md:col-span-1">

                <label class="font-semibold">State</label>

                <p-select [options]="states" [(ngModel)]="SelectedState" (onChange)="onStateChange()"
                    optionLabel="stateName" dataKey="stateId" placeholder="Select State"
                    [ngModelOptions]="{ standalone: true }" [filter]="true" filterBy="stateName" [showClear]="true"
                    [ngClass]="{ 'ng-invalid ng-dirty': !SelectedState && formSubmitted }" appendTo="body">

                </p-select>

                <small *ngIf="!SelectedState && formSubmitted" class="text-red-500 text-xs">

                    State is required.

                </small>

            </div>



            <!-- Township -->

            <div class="flex flex-col gap-2 md:col-span-1">

                <label class="font-semibold">Township</label>

                <p-select [options]="townships" [(ngModel)]="SelectedTownship" (onChange)="onTownshipChange()"
                    optionLabel="townshipName" dataKey="townshipId" placeholder="Select Township"
                    [ngModelOptions]="{ standalone: true }" [filter]="true" filterBy="townshipName" [showClear]="true"
                    [ngClass]="{ 'ng-invalid ng-dirty': !SelectedTownship && formSubmitted }" appendTo="body">

                </p-select>

                <small *ngIf="!SelectedTownship && formSubmitted" class="text-red-500 text-xs">

                    Township is required.

                </small>

            </div>



            <!-- Address Details -->

            <div class="flex flex-col gap-2 md:col-span-2">

                <label class="font-semibold">Address Details</label>

                <textarea id="addressDetail" pInputTextarea rows="4" placeholder="Enter address detail"
                    formControlName="addressDetail"
                    class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>

            </div>

            <!-- Gender -->

            <div class="flex flex-col gap-2 col-span-1">
                <label class="font-semibold">Gender</label>
                <p-select [options]="genders" formControlName="gender" optionLabel="label" optionValue="label"
                    placeholder="Select Gender"
                    [ngClass]="{ 'ng-invalid ng-dirty': patientForm.controls['gender'].invalid && patientForm.controls['gender'].touched }"
                    class="w-full">
                </p-select>
                <small *ngIf="patientForm.controls['gender'].invalid && formSubmitted" class="text-red-500 text-xs">
                    Gender is required.
                </small>
            </div>

            <!-- Status -->

            <div class="flex flex-col gap-2 col-span-1">

                <label class="font-semibold">Status</label>

                <p-toggle-switch formControlName="status"></p-toggle-switch>

            </div>



            <!-- Submit Button -->

            <div class="flex flex-col mt-4 gap-2">

                <p-button icon="pi pi-check" label="{{ isEdit ? 'Update' : 'Save' }}" type="submit"
                    [loading]="isSubmitting" [severity]="isEdit ? 'info' : 'success'"></p-button>

            </div>

        </div>

    </form>

</div>