/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use '../public/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use '../public/assets/demo/demo.scss';

:root{
    --p-button-primary-background: #00B6C7;
    --p-button-primary-hover-background: #0096a7;
    --p-button-primary-active-background: #00B6C7;
    --p-button-primary-border-color: #00B6C7;
    --p-button-primary-hover-border-color: #0096a7;
    --p-button-primary-active-border-color:#00B6C7;
    --p-button-primary-focus-ring-color: #00B6C7;
}