<div class="flex items-center justify-center flex-wrap h-screen">
    <div class="flex flex-col justify-center h-62 w-full">
      <div class="flex justify-center mb-0">
        <img src="./images/Family_Clinics_Logo.png" class="w-96" />
      </div>
      <div class="flex justify-center w-full -mt-8">
        <div class="flex flex-col justify-center items-center w-full">
          <h5 class="mb-8 text-center">Powered By YOON PYAE EAIN</h5>
          <div class="flex justify-center">
            <p-progress-spinner strokeWidth="6" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
          </div>
        </div>
      </div>
    </div>
  </div>
