<p-button label="OT Service" [style]="{ width:'100%' }" (onClick)="showDialog()"></p-button>

<p-dialog [header]="'OT Service'" maskStyleClass="backdrop-blur-sm" [(visible)]="modalVisible" [breakpoints]="{
    '1920px': '30vw',
    '1440px': '40vw',
    '1024px': '50vw',
    '768px': '60vw',
    '425px': '80vw',
    '375px': '100vw',
    '320px': '100vw',
  }" [modal]="true" [style]="{ 'min-width': '50vw'}" [draggable]="false" [resizable]="false" [closable]="false"
    (onHide)="onDialogHIde()">

    <div class="flex-grow overflow-y-auto lg:h-[300px] md:h-[350px] sm:h-[340px] h-[200px]">
        <p-table #dt1 [value]="otServices" sortField="createdOn" [sortOrder]="-1" [loading]="loading"
            styleClass="p-datatable-striped" [showCurrentPageReport]="true"
            [globalFilterFields]="['otServiceName', 'fee']" [tableStyle]="{ 'min-width': '50rem' }"
            selectionMode="multiple" [(selection)]="selectedOTService" [metaKeySelection]="metaKey" dataKey="otsid">

            <!-- Table Caption -->
            <ng-template pTemplate="caption">
                <div class="grid grid-cols-12 mb-4">
                    <div class="md:col-span-6 sm:col-span-6 col-span-6 flex items-center">
                    </div>
                    <div class="md:col-span-6 sm:col-span-6 col-span-6 flex justify-end">
                        <p-iconfield iconPosition="left">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input #search pInputText type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                                placeholder="Search keyword" class="w-full md:w-80" />
                        </p-iconfield>
                    </div>
                </div>
            </ng-template>

            <!-- Table Header -->
            <ng-template pTemplate="header">
                <tr style="white-space: nowrap">
                    <th pFrozenColumn style="width: 10px">#</th>
                    <th pSortableColumn="otsid">
                        Id
                        <p-sortIcon field="otsid"></p-sortIcon>
                    </th>
                    <th pSortableColumn="otServiceName">
                        Name
                        <p-sortIcon field="otServiceName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fee">
                        Fee
                        <p-sortIcon field="fee"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <!-- Table Body -->
            <ng-template pTemplate="body" let-otService let-rowIndex="rowIndex">
                <tr style="white-space: nowrap" [pSelectableRow]="otService" [pSelectableRowIndex]="rowIndex">
                    <td>
                        <p-tableCheckbox [value]="otService"></p-tableCheckbox>
                    </td>
                    <td>{{ otService.otsid || '-' }}</td>
                    <td>{{ otService.otServiceName || '-' }}</td>

                    <td [pEditableColumn]="otService.fee" pEditableColumnField="fee" style="width: 150px;">
                        <p-cellEditor>
                            <ng-template #input>
                                <input pInputText type="number" [(ngModel)]="otService.fee"
                                    [disabled]="otService.isFixed" class="w-full text-righ" />
                            </ng-template>
                            <ng-template #output>
                                <span class="w-full block" [ngClass]="{ 'text-gray-500 ': otService.isFixed }">
                                    {{ otService.fee | number: '1.0-0' }}
                                    <i *ngIf="otService.isFixed" class="pi pi-lock ml-1 text-sm text-gray-400"></i>
                                </span>
                            </ng-template>
                        </p-cellEditor>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Submit -->
    <div class="flex flex-wrap gap-2 md:gap-3">
        <!-- Save -->
        <p-button icon="pi pi-check" severity="success" label="Save" (click)="submit()" />

        <!-- Cancel -->
        <p-button icon="pi pi-times" label="Cancel" (click)="cancel()" />
    </div>

</p-dialog>