<p-button label="Physiotherapy" [style]="{ width:'100%' }" (onClick)="showDialog()"></p-button>

<p-dialog [header]="'Physiotherapy - ' + mode" [(visible)]="modalVisible" [breakpoints]="{
    '1920px': '30vw',
    '1440px': '40vw',
    '1024px': '50vw',
    '768px': '60vw',
    '425px': '80vw',
    '375px': '100vw',
    '320px': '100vw',
}" [modal]="true" [style]="{ 'min-width': '50vw'}" maskStyleClass="backdrop-blur-sm" [closable]="false">

  <!-- Wrapper with desired styles -->
  <div class="flex-grow overflow-y-auto lg:h-[300px] md:h-[350px] sm:h-[340px] h-[200px]">
    <p-table #dt1 [value]="physiotherapies" [rows]="20" [loading]="loading" styleClass="p-datatable-striped"
             sortField="createdOn" [showCurrentPageReport]="true" [globalFilterFields]="['physiotherapyName', 'fee']"
             [tableStyle]="{ 'min-width': '50rem' }" selectionMode="multiple" [(selection)]="selectedPhysiotherapy"
             [metaKeySelection]="metaKey" dataKey="physiotherapyId" scrollable="true" scrollHeight="flex">
      <!-- Caption -->
      <ng-template #caption>
        <div class="grid grid-cols-12 mb-4">
          <div class="md:col-span-6 sm:col-span-6 col-span-12 flex sm:mb-3">
            <!-- Any custom buttons or actions -->
          </div>
          <div class="md:col-span-6 sm:col-span-6 col-span-12 flex sm:mb-3">
            <p-iconfield iconPosition="left" class="ml-auto">
              <p-inputicon>
                <i class="pi pi-search"></i>
              </p-inputicon>
              <input #search pInputText type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                     placeholder="Search keyword" [style]="{ width: '100%' }"/>
            </p-iconfield>
          </div>
        </div>
      </ng-template>

      <!-- Header -->
      <ng-template pTemplate="header">
        <tr style="white-space: nowrap">
          <th pFrozenColumn style="width: 10px">#</th>
          <th pSortableColumn="physiotherapyId">
            Id
            <p-sortIcon field="physiotherapyId"></p-sortIcon>
          </th>
          <th pSortableColumn="physiotherapyName">
            Name
            <p-sortIcon field="physiotherapyName"></p-sortIcon>
          </th>
          <th pSortableColumn="fee">
            Fee
            <p-sortIcon field="fee"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <!-- Body -->
      <ng-template pTemplate="body" let-physiotherapy let-rowIndex="rowIndex">
        <tr style="white-space: nowrap" [pSelectableRow]="physiotherapy" [pSelectableRowIndex]="rowIndex">
          <td>
            <p-tableCheckbox [value]="physiotherapy"></p-tableCheckbox>
          </td>
          <td>{{ physiotherapy.physiotherapyId }}</td>
          <td>{{ physiotherapy.physiotherapyName }}</td>

          <td [pEditableColumn]="physiotherapy.fee" pEditableColumnField="fee" style="width: 150px;">
            <p-cellEditor>
              <ng-template #input>
                <input pInputText type="number" [(ngModel)]="physiotherapy.fee"
                       [disabled]="physiotherapy.isFixed" class="w-full text-righ"/>
              </ng-template>
              <ng-template #output>
                                <span class="w-full block" [ngClass]="{ 'text-gray-500 ': physiotherapy.isFixed }">
                                    {{ physiotherapy.fee | number: '1.0-0' }}
                                  <i *ngIf="physiotherapy.isFixed" class="pi pi-lock ml-1 text-sm text-gray-400"></i>
                                </span>
              </ng-template>
            </p-cellEditor>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Submit -->
  <div class="flex flex-wrap gap-2 md:gap-3">
    <!-- Save -->
    <p-button type="button" icon="pi pi-check" severity="success" label="Save" (click)="submit()"></p-button>

    <!-- Cancel -->
    <p-button type="button" icon="pi pi-times" label="Cancel" (click)="cancel()"></p-button>

  </div>

</p-dialog>
